[submodule "reflex-platform"]
	path = reflex-platform
	url = https://github.com/reflex-frp/reflex-platform
[submodule "frontend/vendor/codemirror"]
	path = frontend/vendor/codemirror
	url = https://github.com/codemirror/codemirror
[submodule "frontend/vendor/reflex-widgets"]
	path = frontend/vendor/reflex-widgets
	url = https://github.com/Atidot/reflex-widgets.git
